body {
    background-color: rgb(35, 33, 42);
    background-image: url(https://www.linkpicture.com/q/Background_8.jpg);
    background-size: cover;
    background-position: center;
    font-size: 13.5px;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.75vw;
}

h1,
p {
    margin: 1.5vw auto;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

h1 {
    font-family: 'IM Fell English SC', serif;
}

p {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title {
    margin-bottom: 0;
}

#description {
    margin-top: 1vw;
}

.canvas-container {
    margin: 0 auto;
    width: 60%;
    height: 37vw;
    background-image: url(https://www.linkpicture.com/q/BackgroundFrameLight.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vw;
}

.first {
    width: 42%;
    height: 100%;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.second {
    width: 42%;
    height: 100%;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.inline {
    width: unset;
    margin: 0px;
    margin-right: 0.5em;
    vertical-align: middle;
}

fieldset {
    height: 20%;
    border: none;
}

.information {
    height: 25%;
}

.murder {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

.torturing {
    height: 48%;
}

.torturing label {
    margin: 0.5vw 0;
}

label {
    display: block;
    margin: 0.8vw 0;
}

.thorns {
    width: 100%;
    height: 10%;
    margin: 0.5vw 0;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    height: 1vw;
    font-size: 0.75vw;
}

select {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first input {
    width: 70%;
    display: inline-block;
    float: right;
}

.word {
    width: 50px;
    background-color: brown;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: ridge 5px rgb(220, 220, 220);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


input[type="submit"] {
    display: block;
    margin: 0 auto;
    max-width: 5vw;
    background-color: transparent;
    border: none;
    font-size: 0.8vw;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: white;
    transition: all 500ms ease-in-out;
}

input[type="submit"]:not(:hover) {
    color: black;
    transition: all 500ms ease-in-out;
}

.submitbackground {
    display: flex;
    margin: 0px auto;
    width: 6vw;
    height: 4vw;
    background-image: url(https://www.linkpicture.com/q/Submit_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.submitbackground:hover {
    scale: 110%;
    transition: 500ms;
}

.submitbackground:not(:hover) {
    scale: 100%;
    transition: 500ms;
}